<!--The content below is only a placeholder and can be replaced.-->
<input type="text"
    ngxDaterangepickerMd
    [showCustomRangeLabel]="true"
    [alwaysShowCalendars]="alwaysShowCalendars"
    [ranges]="ranges"
    [showClearButton]="true"
    [showApplyOnlyForCustom]="true"
    [maxDate]="maxDate"
    [minDate]="minDate"
    [linkedCalendars]="true"
    [isInvalidDate] = "isInvalidDate"
    (rangeClicked)="rangeClicked($event)"
    [keepCalendarOpeningWithRange]="keepCalendarOpeningWithRange"
    [showRangeLabelOnInput]="showRangeLabelOnInput"
    class="form-control"
    [material]="true"
    placeholder="Select please..."/>
